@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Module - Software Security, Student Details ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    K. A. Ruvin Sawmith<br />
    MS20924782<br />
    Cyber Security<br />
    Sri Lanka Institute of Information Technology<br />
    <abbr title="Phone">P:</abbr>
    0773972412
</address>

<address>
    T. M Widanagamage<br />
    MS20924850<br />
    Cyber Security<br />
    Sri Lanka Institute of Information Technology<br />
    <abbr title="Phone">P:</abbr>
    0775917990
</address>

<!--
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> -->
